<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<system.web.webPages.razor>
		...
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="DevExpress.Utils" />
				<add namespace="DevExpress.Web.ASPxDiagram" />
				<add namespace="DevExpress.Web.ASPxGantt" />
				<add namespace="DevExpress.Web.ASPxTreeList" />
				<add namespace="DevExpress.Web.ASPxHtmlEditor" />
				<add namespace="DevExpress.Web.ASPxSpellChecker" />
				<add namespace="DevExpress.Web.ASPxThemes" />
				<add namespace="DevExpress.XtraCharts" />
				<add namespace="DevExpress.XtraCharts.Web" />
				<add namespace="DevExpress.XtraReports" />
				<add namespace="DevExpress.XtraReports.UI" />
				<add namespace="DevExpress.XtraReports.Web" />
				<add namespace="DevExpress.XtraReports.Web.DocumentViewer" />
				<add namespace="DevExpress.XtraPivotGrid" />
				<add namespace="DevExpress.Data.PivotGrid" />
				<add namespace="DevExpress.Web.ASPxPivotGrid" />
				<add namespace="DevExpress.Web.Mvc" />
				<add namespace="DevExpress.Web.Mvc.UI" />
				<add namespace="DevExpress.XtraScheduler" />
				<add namespace="DevExpress.XtraScheduler.Native" />
				<add namespace="DevExpress.Web.ASPxScheduler" />
				<add namespace="DevExpress.DashboardWeb.Mvc" />
				<add namespace="DevExpress.Web.ASPxSpreadsheet" />
				<add namespace="DevExpress.Web.ASPxRichEdit" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<devExpress>
		<!-- ... -->
		<resources>
			<add type="ThirdParty" />
			<add type="DevExtreme" />
		</resources>
	</devExpress>
</configuration>