@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Cms.Web.Website.Models
@using Umbraco.Extensions

@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
@{
    var imagePosition = Model.MacroParameters["imagePosition"];
    //or if for convenience if you are using Umbraco.Extensions namespace there is a GetParameterValue extension method, which allows a default value to be specified if the parameter is not provided:
    imagePosition = Model.GetParameterValue<string>("imagePosition","full-width");
}
<li>@imagePosition </li>

<li>@Model.MacroParameters["image"]</li>
